* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.navbar {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 1rem 2rem;
  background-color: #fdfbf7;
  border-bottom: 1px solid #ccc;
}


.nav-left ul {
  display: flex;
  list-style: none;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

.nav-left a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}


.nav-center {
  flex: 1;
  display: flex;
  justify-content: center;
}

.logo {
  height: 50px; 
  width: auto;

}


.nav-right {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.nav-icon {
  height: 24px; 
  width: auto;
  cursor: pointer;
}
.navbar {
  margin-bottom: 0; 
}


body {
  margin: 0;
  padding: 0;
}